<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/main.js"></script>
</head>
<body>
    <!-- <header class="section">
        <div class="header">
           <div class="container">
              <div class="row">
                 <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                    <div class="full">
                       <div class="center-desk">
                          <div class="logo"> <a href="index.html"><img src="/images/logo.png" alt="#"></a> </div>
                       </div>
                    </div>
                 </div>
                 <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                    <div class="menu-area">
                       <div class="limit-box">
                          <nav class="main-menu">
                             <ul class="menu-area-main">
                                <li> <a href="index.html">Home</a> </li>
                                <li> <a href="about.html">About</a> </li>
                                <li><a href="testmonial.html">Testmonial</a></li>
                                <li><a href="clients.html">Shop</a></li>
                                <li><a href="contact.html">Contact Us</a></li>
                                <li class="last"><a href="#"><img src="/images/search_icon.png" alt="icon"/></a></li>
                             </ul>
                          </nav>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </header> -->
    <header class="main-header">
        <div class="container">
            <div class="logo">
                <a href="/"><img src="/images/logo.png" alt="#"></a>
            </div>
            <div class="links">
                <div class="home">
                    <a href="/">Home</a>
                </div>
                <div class="about">
                    <a href="/about">About</a>
                </div>
                <div class="contact">
                    <a href="/contact">Contact Us</a>
                </div>
                <div class="singup">
                    <a href="/signup">Sign up</a>
                </div>
                <div class="cart">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#cart">Cart (<span class="total-count"></span>)</button>
                </div>
            </div>
        </div>

    </header>
    <%-
        body
    %>

    <footer>
        <div class="container">
            <div class="text">
                Our social links
            </div>
            <div class="social-networks">

                <div class="facebook socials">
                    <img src="/images/Facebook.png" alt="Facebook">
                    <a href="facebook.com">Facebook</a>
                </div>
                <div class="twitter socials">
                    <img src="/images/Twitter.png" alt="Twitter">
                    <a href="twitter.com">Twitter</a>
                </div>
                <div class="instagram socials">
                    <img src="/images/Instagram.png" alt="">
                    <a href="instagram.com">Instagram</a>
                </div>
            </div>
        </div>
    </footer>


   
</script> 
    <!-- <br>
    after -->
</body>
</html>