<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index page</title>
    <!-- <link rel="stylesheet" href=".././public/css/mail.css"> -->
    <!-- <link rel="stylesheet" href="/css/main.css"> -->
</head>
<body>
    <div class="index-wrapper wrapper">

        <div class="main-container">
            <!-- <h1>Home page</h1> -->
            <div class="slideshow-container">
                <div class="slides">
                    <div class="mySlides fade">
                        <!-- <div class="numbertext">1 / 3</div> -->
                        <div class="text">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                            Eaque, sit! Voluptates aspernatur earum magni nemo optio 
                            asperiores voluptatum distinctio ad ratione. Alias laboriosam 
                            pariatur natus necessitatibus doloremque enim saepe dignissimos.
                        </div>
                        <img src="/images/basketball.png">
                      </div>
                      
                      <div class="mySlides fade">
                        <!-- <div class="numbertext">2 / 3</div> -->
                        <div class="text">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                            Eaque, sit! Voluptates aspernatur earum magni nemo optio 
                            asperiores voluptatum distinctio ad ratione. Alias laboriosam 
                            pariatur natus necessitatibus doloremque enim saepe dignissimos.
                        </div>
                        <img src="/images/game.png">
                      </div>
                      
                      <div class="mySlides fade">
                        <!-- <div class="numbertext">3 / 3</div> -->
                        <div class="text">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                            Eaque, sit! Voluptates aspernatur earum magni nemo optio 
                            asperiores voluptatum distinctio ad ratione. Alias laboriosam 
                            pariatur natus necessitatibus doloremque enim saepe dignissimos.
                        </div>
                        <img src="/images/t-shirt.png">
                      </div>
                </div>
  
                <div class="dots" style="text-align:center">
                    <span class="dot"></span> 
                    <span class="dot"></span> 
                    <span class="dot"></span> 
                </div>
                
            </div>

            <section id="section-1">
                <div class="container">
                    <div class="title">
                        Our products
                    </div>
                    <div class="product-list">
                        <% for(let i=0; i<productList.length ;i++) {%>
                            <div class="product-container" >
                                <a class="product" href="/api/products/<%= productList[i].id %>">
                                    <div class="product-img">
                                        <img src="/images/basketball.png">
                                    </div>
                                    <div class="product-name">
                                        Name: <%=productList[i].name %>
                                    </div>
                                    <div class="product-price">
                                        Price: <%=productList[i].price %>
                                    </div>
                                    <!-- <a href="#" class="add-to-chart">Add to cart</a> -->
                                    <!-- <input type="button" value="Add to chart" class="add-to-chart"> -->
                                </a>
                            </div>

                        <%} %>
                    </div>

                </div>

            </section>

            <section id="section-2">
                <div class="container">
                    <div class="title">
                        About Us
                    </div>
                    <div class="text">
                        There are many variations of passages of Lorem Ipsum available, 
                        but the majority have suffered alteration in some form, by injected 
                        randomised words which don't look even slightly believable
                    </div>
                </div>
            </section>
    
        </div>
    </div>





    <script>
        let slideIndex = 0;
        showSlides();

        function showSlides() {
            let i;
            let slides = document.getElementsByClassName("mySlides");
            let dots = document.getElementsByClassName("dot");
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";  
            }
            slideIndex++;
            if (slideIndex > slides.length) {slideIndex = 1}    
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex-1].style.display = "flex";  
            dots[slideIndex-1].className += " active";
            setTimeout(showSlides, 4000); // Change image every 2 seconds
        }
    </script>
</body>
</html>